body {T
    background-color:orange;
}

#container {
  width: 320px;
  height: auto;
  outline: none;
  float: none;
}


div, img {
    background-color: black;
    width: 32px;
    height: 32px;
    float: left;
}

.redBrick {
  z-index: 1;
}

.floorTile {
  z-index: 1;
}

.winningSpot {
  z-index: 1;
}

.woodenCrate {
  z-index: 2;
}

.sprite {
  z-index: 2;
}
